<div class="page-background">

  <div class="row">
    <div class="small-5 columns personal-panel">
        <h3><strong>Personal Information</strong></h3>
        <div class="user-info">
          <p>Full name: <%= @user.first_name %> <%= @user.last_name %></p>
          <p>Email: <%= @user.email %></p>
          <p><%= link_to "Edit My Information", edit_user_registration_path, class: "button round small edit-info" %></p>
        </div>
    </div>
    <div class="small-5 columns my-opportunities">
      <% if !current_user.volunteer? %>
        <h3>My Organizations</h3>
          <% @organizations.each do |organization| %>
          <div class="orgs-list">
            <p><%= link_to organization.name, organization_path(organization) %></p>
          </div>
          <% end %>
      <% else %>
        <h3>Reminder: Upcoming Activities</h3>
        <ul>
          <% @opportunities.each do |opportunity| %>
          <div class="joined-opp">
            <p><%= link_to opportunity.description, opportunity_path(opportunity) %></p>
            <p><%= opportunity.date.strftime("%m/%d/%Y") %></p>
            <p><%= opportunity.start_time.strftime("%I:%M%p") %>-<%= opportunity.end_time.strftime("%I:%M%p") %></p>
          </div>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>

</div>
