<div class="row">
  <div class="small-9 small-centered columns homepagediv">
    <p>Ready to Change the World?</p>
    <p class>Start With Your City.</p>
  </div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">
    <%= form_tag("/search", method: 'get') do %>
      <%= label_tag "Type in your city." %>
      <%= text_field_tag :city_query, params[:city_query] %>
      <%= label_tag "What are you passionate about?" %>
      <%= select_tag :cause_query, options_from_collection_for_select(Cause.all, "cause", "cause") %>
      <%= submit_tag "Search", :city => nil, class: "button large expand search" %>
    <% end %>
  </div>
</div>

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="links">
        <% link_to "Home", root_path %>
        <% if !user_signed_in? %>
          <%= link_to "Join Us", new_user_registration_path %>
          <%= link_to "Sign Into Your Account", new_user_session_path %>
        <% end %>
      </p>
    </div>
  </div>
</footer>
