<div class="page-background">

    <div class="row">
      <div class="small-6 medium-12 columns">
        <header>
          <h1>Upcoming Opportunities</h1>
        </header>
      </div>
    </div>

  <div class="row">
    <div class="small-12 centered columns">
      <ul class="accordion" data-accordion>
        <% @opportunities.each do |opportunity| %>
          <li class="accordion-navigation">
            <a href="#panel<%= opportunity.id %>"><%= opportunity.date %>: <%= opportunity.description %> with <%= opportunity.organization.name %></a>
            <div id="panel<%= opportunity.id %>" class="content">
              <div class="row">
                <div class="small-4 columns">
                  <iframe
                    height="150"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=<%=ENV["GOOGLE_MAPS_API_SERVER"]%>&q=<%= opportunity.street%>,<%=opportunity.city%>+<%=opportunity.state%>" allowfullscreen>
                  </iframe>
                </div>
                <div class="small-8 columns">
                  <p class="index-info"><strong>Cause:</strong> <%= opportunity.organization.cause.cause%></p>
                  <p class="index-info">Location: <%= opportunity.street %>, <%= opportunity.city %>, <%= opportunity.state %></p>
                  <p class="index-info"><%= link_to "Learn More!", opportunity_path(opportunity)%></p>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
