<h1><%= @organization.name %></h1>
<h2><%= @organization.cause.cause %></h2>

<p><%= @organization.description %> </p>

<ul>
  <li><%= @organization.street %></li>
  <li><%= @organization.city %></li>
  <li><%= @organization.state %></li>
</ul>

<%= link_to "Home", root_path, class: "button round" %>

<% if Organization.org_admins(current_user, @organization) %>
    <%= link_to "Edit Info", edit_organization_path(@organization) %>
<% end %>
