<div class="page-background">

  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="org-info">
        <h1 class="org-h1"><%= @organization.name %></h1>
        <p><%= @organization.cause.cause %></p>
        <p><%= @organization.description %></p>
        <p><%= @organization.street %>, <%= @organization.city %>, <%= @organization.state %></p>
      </div>
    </div>
  </div>

  <% if Organization.org_admins(current_user, @organization) %>
    <div class="row">
      <div class="small-12 small-centered medium-6 medium-centered columns button-row text-center">
        <%= link_to "Edit Organization Info", edit_organization_path(@organization), class: "button round small org-button" %>
      </div>
      <div class="small-12 small-centered medium-6 medium-centered columns button-row text-center">
        <%= link_to "Add Opportunity", new_organization_opportunity_path(@organization), class: "button round small org-button" %>
      </div>
    </div>
    <% end %>

  <div class="row">
    <div class="small-12 small-centered columns opp-info">
      <h2 class="org-h2"><%= @organization.name %>'s Upcoming Volunteer Opportunities</h2>
      <% if @opportunities.empty? %>
        <p>None</p>
      <% else %>
      <div class="row">
          <ul class="small-block-grid-4">
            <% @opportunities.each do |opportunity| %>
              <li>
                <div class="opp-div">
                <p class="opp-desc"><%= opportunity.date.strftime("%m/%d/%Y") %>: <%= opportunity.description %></p>
                    <p class="opp-link">
                      <%= link_to "Learn More", opportunity_path(opportunity), class: "button round tiny opp-button" %>
                    </p>
                  <% if user_signed_in? %>
                    <% if Organization.org_admins(current_user, @organization) %>
                      <p class="opp-link">
                        <%= link_to "Change Opportunity Info", edit_opportunity_path(opportunity), class: "button round tiny opp-button" %>
                      </p>
                      <p class="opp-link">
                        <%= link_to "Remove Opportunity",
                        organization_opportunity_path(@organization, opportunity),
                        method: :delete, class: "button round tiny opp-button" %>
                      </p>
                    <% end %>
                  <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>

</div>
