<h1><%= @organization.name %></h1>
<h2><%= @organization.cause.cause %></h2>

<p><%= @organization.description %> </p>

<ul>
  <li><%= @organization.street %></li>
  <li><%= @organization.city %></li>
  <li><%= @organization.state %></li>
</ul>
