<h1><%= @organization.name %></h1>
<h2><%= @organization.cause.cause %></h2>

<p><%= @organization.description %> </p>

<ul>
  <li><%= @organization.street %></li>
  <li><%= @organization.city %></li>
  <li><%= @organization.state %></li>
</ul>

<h2>Organization opportunities</h2>
<ul>
  <% @opportunities.each do |opportunity| %>
    <li><%= opportunity.description %></li>
    <% if Organization.org_admins(current_user, @organization) %>
      <li><%= link_to "Change Opportunity Info", edit_opportunity_path(opportunity) %></li>
      <li><%= link_to "Remove Opportunity",
        organization_opportunity_path(@organization, opportunity),
        method: :delete %></li>
    <% end %>
</ul>
<% end %>

<%= link_to "Home", root_path, class: "button round" %>
<%= link_to "See All", organizations_path, class: "button round" %>

<% if Organization.org_admins(current_user, @organization) %>
  <%= link_to "Edit Info", edit_organization_path(@organization), class: "button round" %>
  <%= link_to "Add Opportunity", new_organization_opportunity_path(@organization), class: "button round" %>
<% end %>
