<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "HyperLocal" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="homepage">

    <%= render "layouts/nav" %>

        <div class="flash">
          <% flash.each do |key, value| %>
            <div data-alert class="alert-box <%= key.to_s == 'notice' ? 'success' : 'alert' %>">
            <%= content_tag :div, value %>
            <a href="#" class="close">&times;</a>
          </div>
          <% end %>
        </div>

    <%= yield %>

  </body>
</html>
